<div id="navbar-top">
  <div class="container">
    <div class="col12">
    <a class="title" href="/">
      <img src="/img/nev_logo.png" alt="Natural Earth Vector Tiles" style="max-width: 60px;">
      Natural Earth Tiles
    </a>
    <iframe class="center" style="margin-top: 12px; margin-left: 20px;" src="https://ghbtns.com/github-btn.html?user=lukasmartinelli&repo=naturalearthtiles&type=star&count=true&size=large" frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
  </div>
  </div>
</div>
